// Fixes highlighted lines not respecting theme.
.chroma .hl {
    [data-scheme="light"] & {
        background-color: #e1e1e1;
    }
    [data-scheme="dark"] & {
        background-color: #3c3d38;
    }
}

// Fixes overflowing lines not being highlighted fully.
[data-scheme] .chroma .line {
    display: table-row;
}

// Reduce dark theme code background opacity to show link underlines.
:root {
    &[data-scheme="dark"] {
        --code-background-color: #272822b8;
    }
}